# LLM APIs
anthropic
aider-chat
backoff
openai
google-generativeai
pydantic>=2.0
streamlit>=1.36
pandas>=2.0
reportlab>=4.0
# Viz
matplotlib
pypdf
pymupdf4llm
# Common Requirements
torch
numpy
transformers
datasets
tiktoken
wandb
tqdm
